<div style="width: 20%;float: left;margin-right:10px;"><img src="{{avatar_url}}" alt="{{name}}" class= 'img-circle'>
    <span style="float: right;word-wrap: break-word;width: 74%;">{{short_name}}</span></div>
<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar"
     aria-valuemin="0" aria-valuemax="100" aria-valuenow="37" style="width: 50%;border-radius: 25px;padding: 5px;
height: 20px; margin-top: 8px;">
    <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: {{progression}} ;border-radius: 25px;height: 20px;">
    <div id='label' style="padding: 0 40px;"> 20%  |  40%  |  60%  |  80%  |  100%      </div></div>
    </div>
</div>
<hr/>