<table id="dataTable"  class = "table table-bordered table-striped">
    <thead> <tr>
       <th>Price</th>
       <th>Start Date </th>
       <th>End Date </th>
       <th>Action</th>
    </tr>
     </thead>
     <tbody class="collectionViewItems">
     </tbody>
      </table>

