<h2 class="page-header">{{#t "app_headder"}}Course Pricing{{/t}}

  <button class="btn btn-primary add_tool_link lm pull-right">
    {{#t "add_course_price"}}Add Course Price{{/t}}
  </button>

</h2>
<div data-view="course_pricings" id="course_pricings_add"></div>


