
<% content_for :page_title, t(:page_title, "Testimonials") %>
<% @show_left_side = true %>


<div class="rs-margin-lr">
  <button type="button"
          id="start_new_comment"
          class="element_toggler btn button-sidebar-wide"
          aria-controls="add_update_comments"><i class="icon-add"></i><%= t('update_comment', 'Update Comment') %></button>
  <%= render :partial => 'shared/add_update_comments' %>
</div>
