<h2 class="page-header">Live Class Links

  <button class="btn btn-primary add_live_class_link lm pull-right">
    Add Live Class Link
  </button>

  <!--<input type="text" id="live_class_filter" class="input-large search-query pull-right" placeholder="{{#t "search_filter"}}Filter by name{{/t}}">-->
</h2>

<p class="well well-small">
  Live Class Links are pre-recorded videos links or any url you can put it here,
  We can add class section wise live class links here.
</p>

<div data-view="liveClassLinks"></div>

