<h2 class="page-header">{{#t "app_headder"}}Rewards{{/t}}

  <button class="btn btn-primary add_tool_link lm pull-right">
    {{#t "add_new_tool"}}Add Reward{{/t}}
  </button>


</h2>
<div data-view="rewards"></div>


