<h2 class="page-header">{{#t "app_headder"}}Rewards{{/t}}

  <button class="btn btn-primary add_tool_link lm pull-right">
    {{#t "add_new_tool"}}Add Reward{{/t}}
  </button>

    <button class="btn btn-primary add_manage_tool_link lm pull-right" style="margin-right:10px;">
        {{#t "manage_rewards"}}Manage Rewards{{/t}}
    </button>


</h2>
<div data-view="rewards" id="reward_add"></div>


