<h2 class="page-header">{{#t "app_headder"}}Rewards{{/t}}

  <button class="btn btn-primary add_tool_link lm pull-right">
    {{#t "add_new_tool"}}Add Reward{{/t}}
  </button>


</h2>
<div id="rewards"></div>

  <table id="dataTable"  class = "table table-bordered table-striped">
    <thead> <tr>
       <th>Reward Name</th>
       <th>Alpha Mask</th>
       <th>Referrer Amount </th>
       <th>Referrer Percentage </th>
       <th>Referree Amount </th>
       <th>Referree Percentage </th>
       <th>Referrer Expiry Date</th>
       <th>Referree Expiry Date</th>
       <th>How Many</th>

     </tr>
     </thead>
     <tbody id="rewardlist">
     </tbody>
      </table>

