<div style="overflow-x: scroll;">
<table id="dataTable"  class = "table table-bordered table-striped">
    <thead> <tr>
       <th>Type</th>
       <th>Name</th>
       <th>Email</th>
       <th>Provider</th>
       <th>Context Name</th>
       <th>Reward Name</th>
       <th>Reward Description</th>
       <th>Expiry Date</th>
       <th>Coupon Code</th>
       <th>Settings</th>

     </tr>
     </thead>
     <tbody class="collectionViewItems">
     </tbody>
      </table>
</div>
<div class="paginatedLoadingIndicator" style="display: none"></div>