<table id="dataTable"  class = "table table-bordered table-striped">
    <thead> <tr>
       <th>Reward Name</th>
       <th>Alpha Mask</th>
       <th>Referrer Percentage </th>
       <th>Referree Percentage </th>
       <th>Reward Expiry Date</th>
       <th>Referrer Expiry Date</th>
       <th>Referree Expiry Date</th>
       <th>How Many</th>
       <th>Settings</th>

     </tr>
     </thead>
     <tbody class="collectionViewItems">
     </tbody>
      </table>

<div class="paginatedLoadingIndicator" style="display: none"></div>