<td class="menu-item-drop-column" id="menu_enrollments">
   <ul class="menu-item-drop-column-list">
    <%= render :partial => 'shared/leader_board_menu_course', :collection => collection %>
    <li class="menu-item-view-all"></li>

  </ul>
</td>
