<td class="menu-item-drop-column" id="menu_enrollments">
  <span class="menu-item-heading">
    <span class="menu-item-heading " style="margin-bottom: -25px;margin-left:145px;;font-size: xx-small">Favourites Course</span>
    <%= title %>
  </span>

  <ul class="menu-item-drop-column-list">
    <%= render :partial => 'shared/menu_course', :collection => collection %>
    <li class="menu-item-view-all"><%= link_to "#{link_text} (#{collection_size})", more_link_for_over_max %></li>
    <div class="menu-item-customize">
      <a class="customListOpen"  href="#" style="margin-right: 198px;margin-top: -3px;"><%= edit %></a>
    </div>
  </ul>
</td>
