<%
   @current_user_badges = get_user_badges_for_header
%>
<% if @current_user_badges and !@current_user_badges.empty?  %>
    <div class="main_navigation_badges">
      <div style="float: left;margin-top: 3px;padding: 10px 15px;border-right: 1.5px solid #DFDADA;width: 20%;"> Badges </div>
      <div style="float: right;margin-top: 7px; text-align: center;">
                         <% @current_user_badges.each do |key, value| %>
              <div style="float: left;">
        <img src=<%= value['badge_url'] %>  width="34" height="34"  title="<%= value['badge_description']%>" data-tooltip>
        <div style="position: absolute;color: #fff;font-weight:bolder;float:left;text-align:center;margin-top: -27px;
                margin-left: 14px;"><%= value['badge_count'] %></div>
                  </div>
    <% end %>
      </div>
    </div>
<% end  %>

<style>
    .main_navigation_badges{
        height: 47px;
        width: 290px;
        list-style: none;
        float: left;
        font-size: 12px;
        margin-bottom: 3px;
        padding: 0 11px;
        border: 1px solid #DFDADA;
        border-radius: 25px;
        margin-left: 10px;

    }

</style>