.course_properties
  display: inline
  margin-left: 33px

.price_box
  float: right
  margin-top: -190px
  width: 20.5%
  margin-right: 60px
  background-color: white
  height: 178px
  text-align: center


.xouter3
  margin-top: 10px

.xleftcol3
  float: left
  width: 21%
  margin-left: 59px

.xmiddlecol3
  overflow: hidden

* html > .xmiddlecol3
  float: left

* html > .xmiddlecol3 > .xinner3
  width: 100%

.xrightcol3
  float: right
  width: 21.3%
  position: relative
  margin-left: 55px
  margin-right: 59px

.xinner3
  margin-left: 30px

.course_module_item
  padding: 14px
  background: #f6f5ed
  box-shadow: 0 1px 2px rgba(0,0,0,0.2)
  margin-bottom: 6px
  list-style: none

.course_module_item:hover
  border-left: 3px solid #008fd6

.default_hover_style
  border-left: 3px solid #008fd6

.left
  float: left

.instructor-bio-content
  margin-left: 21px
  margin-right: 5px

.instructor-bio:hover
  -moz-box-shadow: 0 0 10px #ccc
  -webkit-box-shadow: 0 0 10px #ccc
  box-shadow: 0 0 10px #ccc

.comment_box:hover
  -moz-box-shadow: 0 0 10px #ccc
  -webkit-box-shadow: 0 0 10px #ccc
  box-shadow: 0 0 10px #ccc

.comment
  padding: 17px
  margin-bottom: 10px
  background: #f6f5ed
  box-shadow: 0 1px 2px rgba(0,0,0,0.2)

.left_bottom_border
  order-bottom: 1px solid lightgray
  border-left: 1px solid lightgray
  border-radius: 3px

.price_box_on_model
  text-align: center
  width: 300px
  height: 70px
  margin-left: 128px

.pop_up_h3
  color: #994b2c
  float: none
  font-size: 18px
  text-align: center
  line-height: 30px
  margin-top: -12px
  margin-bottom: 40px

.pop_up_close
  float: right
  margin-top: -44px
  margin-bottom: 28px

.fancybox-inner
  padding: 0
  margin: 0
  border: 0
  outline: 0
  vertical-align: top
  position: relative
  overflow: visible!important
  background: #fff

.user_details
  margin: -25px 15px 15px

.left-col
  float: left
  position: relative
  border: 1px solid #666
  overflow: hidden
  box-shadow: 0 3px 11px rgba(211, 47, 47, 0.45)
  width: 50px
  border-radius: 500px

.right-col
  font-family: georgia
  font-size: 13px
  font-style: italic
  margin-left: 60p
  margin-top: 2px

.rating-line
  content: ''
  width: 108%
  height: 1px
  background: #e5e5e5
  left: 0
  top: 50%
  margin-left: -40px

.article
  margin: 16px 15px 4px
  color: #555
  padding: 20px
  background: lemonchiffon
  width: 102%
  margin-left: -38px
  margin-top: -13px
  margin-bottom: 0px

.pop_up_li
  margin-bottom: 37px

.user_name
  color: #567c1b
  font-family: helvetica
  font-style: normal
  cursor: pointer

.time
  font-size: 11px
  color: #777
  font-style: normal
  padding: 4px

a
  color: #0254EB

a:visited
  color: #0254EB

a.morelink
  font-size: 10px
  text-transform: uppercase
  color: #dd472b
  text-decoration: underline

.morecontent span
  display: none

.commentdesc
  margin: 10px
