.ribbon1 {
  position: relative;
  width: 50%;
  font-size: 1.3em;
  font-weight: bold;
  padding: 7px 20px 7px 25px;
  margin: 0 10px 25px -10px;
  color: #fff;
  background-color: #eee;
  text-shadow: 0px 1px 2px #bbb;
  -webkit-box-shadow: 0px 2px 4px #888;
  -moz-box-shadow: 0px 2px 4px #888;
  box-shadow: 0px 2px 4px #888;
  &:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  }
  &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 5px 5px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
  }
}

/* wrap */

.author-image {
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0 1px 2px #8d8d8d;
  -ms-box-shadow: 0 1px 2px #8d8d8d;
  -webkit-box-shadow: 0 1px 2px #8d8d8d;
  box-shadow: 0 1px 2px #8d8d8d;
  height: 48px;
  width: 48px;
}

.quoted-review .review-text {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  white-space: normal;
}

.paragraph-end.details-light {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(245, 245, 245, 0)), color-stop(100%, rgba(245, 245, 245, 1)));
  background-image: -webkit-linear-gradient(left, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1));
  background-image: -moz-linear-gradient(left, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1));
  background-image: -ms-linear-gradient(left, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1));
  background-image: -o-linear-gradient(left, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1));
  background: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00f5f5f5',EndColorStr='#f5f5f5');
}

.featured-review .author-name {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  display: inline-block;
  font-size: 13px;
  margin-top: 2px;
  max-height: 17px;
  max-width: 100%;
  overflow: hidden;
  margin-right: 0px;
  text-align: left;
}

.featured-review-star-rating {
  display: inline-block;
  margin-left: 25px;
  position: relative;
  top: 0px;
  float: left;
}

.tiny-star.star-rating-non-editable-container {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAcklEQ吃WTVoEA4cSjTDFalAM5uPVCFTABY0/ASSDBKBiXNRNcqRiADBao1Bj6dJdAAAAAElFTkSuQmCC);
  height: 14px;
  width: 69px;
}

.star-rating-non-editable-container {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAcklEQ吃WTVoEA4cSjTDFalAM5uPVCFTABY0/ASSDBKBiXNRNcqRiADBao1Bj6dJdAAAAAElFTkSuQmCC) top left repeat-x;
  left: -1px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 1px;
}

.tiny-star .current-rating {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAdElEQ她uEAwcSjTCFB+AYjAfr0agAgNo/AUgGRQAFTOgbpIjFQMAtcfKBD81ItYAAAAASUVORK5CYII=) left bottom;
  height: 14px;
}

.current-rating {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAdElEQ她uEAwcSjTCFB+AYjAfr0agAgNo/AUgGRQAFTOgbpIjFQMAtcfKBD81ItYAAAAASUVORK5CYII=) left bottom repeat-x;
  display: block;
  position: absolute;
}

.reviews {
  .rating-box, .featured-review {
    margin-top: 6px;
    vertical-align: top;
  }
}

.featured-review {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  max-width: 375px;
  min-height: 85px;
  padding: 0 5px 0 78px;
  position: relative;
  white-space: nowrap;
  .author {
    left: 0;
    padding-left: 10px;
    position: absolute;
    text-align: center;
    width: 60px;
    display: inline-block;
    vertical-align: top;
  }
  .review-text {
    display: inline-block;
    vertical-align: top;
  }
}


.featured-review .quoted-review {
  color: #8d8d8d;
  font: italic 300 16px "Roboto","Georgia",serif;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  max-width: 90%;
  margin-top: 25px;
}

.quoted-review .review-text {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  max-height: 100%;
  overflow: hidden;
  text-align: justify;
  vertical-align: top;
  white-space: normal;
}

.review-title {
  color: #555;
  font-weight: 500;
}

.review-text .quoted-review .review-text {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  white-space: normal;
}

.review-body {
  margin: 4px 0 20px 57px;
  max-height: 308px;
  overflow: hidden;
}

.resource .tag {
  zoom: 1;
  height: 100%;
  float: left;
  margin: 0px 0px;
  ul {
    margin: -10px;
  }
}

.tags {
  &:before {
    content: '';
    display: table;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.resource .tags li {
  position: relative;
  float: left;
  width: auto;
  margin: 0 0 8px 12px;
  display: inline-block;
}

.tags li {
  &:active {
    margin-top: 1px;
    margin-bottom: 7px;
  }
  &:after {
    content: '';
    z-index: 2;
    position: absolute;
    top: 10px;
    right: -2px;
    width: 5px;
    /*    height: 6px;
        opacity: .95;
        background: #eb6b22;*/
    border-radius: 3px 0 0 3px;
    -webkit-box-shadow: inset 1px 0 #99400e;
    box-shadow: inset 1px 0 #99400e;
  }
}
.tags {
  a, span {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  a {
    height: 26px;
    line-height: 23px;
    padding: 0 7px 0 7px;
    font-size: 0.85em;
    font-style: italic;
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px white;
    background: #fafafa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dadada #d2d2d2 #c5c5c5;
    border-radius: 3px 0 0 3px;
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
    &:hover span {
      padding: 0 7px 0 6px;
      max-width: 40px;
      -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
  span {
    position: absolute;
    top: 1px;
    left: 100%;
    z-index: 2;
    overflow: hidden;
    max-width: 0;
    height: 24px;
    line-height: 21px;
    padding: 0 0 0 2px;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #eb6b22;
    border: 1px solid;
    border-color: #d15813 #c85412 #bf5011;
    border-radius: 0 2px 2px 0;
    opacity: .95;
    background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
    background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
    background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
    background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transition-property: padding, max-width;
    -moz-transition-property: padding, max-width;
    -o-transition-property: padding, max-width;
    transition-property: padding, max-width;
  }
}

.author_image {
  margin-left: -51px;
}

.star {
  float: right;
  margin: 0px 0px;
}

.evenflow {
  position: relative;
  top: 0em;
  display: table;
  margin: 0 -1.25em 0 -1.25em;
  width: 104%;
  border-collapse: separate;
  background: url(/images/pattern-bg.png);
  .resource-row {
    display: table-row;
    border-collapse: collapse;
    .resource {
      outline: 0px solid #dbdbdb;
      float: none;
      display: table-cell;
    }
  }
}

.resource {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  background-position: center 0;
  background-repeat: no-repeat;
  -webkit-background-size: 21em auto;
  -moz-background-size: 21em auto;
  -ms-background-size: 21em auto;
  -o-background-size: 21em auto;
  background-size: 21em auto;
  color: #545454;
  padding-bottom: 1em;
  position: relative;
  font-weight: 600;
  font-size: .95em;
  float: none;
  display: table-cell;
  box-shadow: 0px 0px 15px 0px #ddd;
  background: #fff;
  .type-tag-positioner {
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%);
    top: 5px;
    background-repeat: no-repeat;
    left: 5px;
    display: block;
    margin: 0 0 -12em;
    width: 100%;
    height: 11.8em;
    pointer-events: none;
  }
}

.container {
  margin: 0px auto;
  min-width: 400px;
  max-width: 100%;
}

.evenflow .resource-row {
  display: table-row;
  border-collapse: collapse;
}
.evenflow .resource-row .resource {
  float: none;
  display: table-cell;
  text-align: left;
  margin-top: 35px;
  min-height: 420px;
}

.resource {
  .type-tag-positioner .type {
    display: block;
    font-size: 1em;
    position: absolute;
    top: 9em;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%);
  }
  .details {
    margin: 0 0 0 0;
    width: 100%;
    display: block;
    position: relative;
    clear: both;
    .author, .info, .desc, .product-status {
      margin: 5px 15px;
      font-size: smaller;
      color: black;
    }
    ul {
      border: 1px #dbdbdb solid;
      border-width: 1px 0px;
      color: #aaaaaa;
      height: 3em;
      margin: -1px 15px;
      font-size: 0.85em;
      font-weight: 600;
      padding-top: 1em;
      padding-right: 104px;
    }
  }
  h2 {
    padding: 0;
    font-size: 1.35em;
    line-height: 1.35em;
    a {
      padding: 9.5em 15px 0em 15px;
      display: block;
    }
  }
}

.content-box {
  background-color: #fff;
  border: 1px solid #ddd;
  left:  150px;
  clear: none;
  margin: 0px 55px 46px 0px;
  overflow: visible;
  &:hover {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }
  > .inner {
    margin: 0;
    padding: 5px 35px 5px 0px;
  }
}

.course-badge, .badges-show .achievement .awarded {
  //  left: -15px;
  position: absolute;
  //  top: -7px;
  //  background: #fff;
  //  border-radius: 50%;
  //  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  /*padding: 2px;*/
}

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  padding: 8px;
  width: 86px;
  height: 86px;
}

.resource .details {
  margin: 0 0 0 0;
  width: 94%;
  display: block;
  position: relative;
  clear: both;
  cursor: pointer;

}
.resource .details ul {

  border: 1px #dbdbdb solid;
  border-width: 1px 0px;
  color: #141313;
  height: 3em;
  margin: 0px 1px;
  font-size: 0.85em;
  font-weight: 600;
  padding-top: 1em;
  margin-top: 9px;
  padding-right: 104px;
}


.paragraph-end.details-light {
  background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(245,245,245,0)),color-stop(100%,rgba(245,245,245,1)));
  background-image: -webkit-linear-gradient(left,rgba(245,245,245,0),rgba(245,245,245,1));
  background-image: -moz-linear-gradient(left,rgba(245,245,245,0),rgba(245,245,245,1));
  background-image: -ms-linear-gradient(left,rgba(245,245,245,0),rgba(245,245,245,1));
  background-image: -o-linear-gradient(left,rgba(245,245,245,0),rgba(245,245,245,1));
  background: linear-gradient(to right,rgba(245,245,245,0),rgba(245,245,245,1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00f5f5f5',EndColorStr='#f5f5f5');
}

.ribbon-wrapper {
  //  margin: 50px auto;
  //  width: 280px;
  //  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: 12px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 10px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #070707;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

body {
  padding: 0px;
}

#container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box {
  position: relative;
  width: 57%;
  height: 50px;
  line-height: 24px;
  font-size: 13px;
  text-align: left;
  border: 1px solid #dbdbdb;
  left: 5%;
  margin-left: -5%;
  border-width: 1px 0px;
  padding-right: 105px;
}

#box1 {
  background-color: green;
  left: -50%;
}
//
//.thumbnail .caption {
//  padding: 9px;
//  color: #555;
//  text-align: center;
//}

.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails > li {
  float: left;
  margin-bottom: 0px;
  margin-left: 6px;
}

.thumbnail {
  display: block;
  padding: 1px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-height: 255px;
}

a.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.carousel-nav {
  a {
    display: block;
    width: 10px;
    height: 10px;
    background: rgb(224, 216, 216);
    text-indent: -9999px;
    border: 0;
    border-radius: 15px;
    margin-right: 3px;
    float: left;
    color: white;
    &.active {
      background: #333;
    }
  }
  width: 65px;
  margin: 0px auto;
  padding-bottom: 20px;
}

.thumbnail {
  > img {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .caption {
    padding: 9px;
    color: #555555;
    text-align: center;
  }
}

.knowledge_partners_item{
  list-style: none ;
}


.resource:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.secondary-content {
  height: 100%;
  width: 100%;
  padding: 0px 0px;
  background-size: 100% 100%;
  background: #F7DB6C;
//  background: url(/images/arrow_bg.png);
}

.banner{
  margin-left:30px;
  margin-top: 0px;
  padding-right: 115px;
  text-align:center;
  padding-top: 7px;
}

