#classes
  border: 1px solid #eaeef1
  border-radius: 5px
  float: left
  width: 100%


.classes_header
  min-height: 40px
  background-color: #eaeef1
  line-height: 37px

.classes_header_text
  margin-left: 20px

.admin_link
  margin-right: 19px
  float: right

.course_class
  border: 2px solid #00a9ff
  border-radius: 10px
  height: 235px
  margin: 10px 25px
  width: 210px
  float: left
  background-color: #eff9fe

.course_class_header
  min-height: 42px
  background-color: #00a9ff
  color: white
  text-align: center
  border-radius: 7px 7px 0px 0px

.course_class_header_index
  padding-top: 12px
  font-weight: bold

.class_name
  margin: 30px
  font-size: 100%
  font-weight: bold
  color: #575757
  line-height: 1.5
  height: 100%

.class_preview_box
  min-height: 69px
  border: 1px solid #eaeef1
  margin-bottom: 20px
  border-radius: 5px

.class_preview_box:hover
  box-shadow: 0 0 10px #9ecaed

.class_category
  border: 2px solid white
  margin: 5px
  min-height: 60px

.module_statistics
  top: 283px
  width: 210px
  position: absolute
  height: 46px
  background-color: #CFEDF7
  border-bottom-right-radius: 9px
  border-bottom-left-radius: 9px

.modules_items
  display: inline-block
  vertical-align: top
  margin-right: 12px

.modules_ul
  list-style-type: none
  text-align: center
  margin-left: 0px
  padding: 10px
