<div class="account_statistics_item row-fluid" style="margin-top: 7px;">
    <div>
      <div id ="courses_count" class="span3" style="text-align: center;font-size: medium;">
          <img class="margin_bottom" src="images/Bookmark.png" >
          <p>
              <b>{{ENV.Account_Statistics.courses_count}}</b> Courses
          </p>
      </div>
    </div>
    <div id = "users_count" class="span3" style="text-align: center;font-size: medium;">
        <img class="margin_bottom" src="images/User.png" >
        <p >
            <b>{{ENV.Account_Statistics.users_count}}</b> Users
        </p>
    </div>
    <div id="modules_count" class="span3" style="text-align: center;font-size: medium;">
        <img class="margin_bottom"  src="images/Document Add.png" >
        <p> <b> {{ENV.Account_Statistics.modules_count}}</b> Modules
        </p>
    </div>
    <div id="categories_count" class="span3" style="text-align: center;font-size: medium;">
        <img class="margin_bottom" src="images/Bookmark.png" >
        <p> <b>{{ENV.Account_Statistics.topics_count}}</b> Categories
        </p>
    </div>
</div>
