<div class="resource-row">
    <ul class="collectionViewItems row-fluid" style="list-style-type: none;text-align: center;margin-top:-11px;width:100%;margin-left: 0px;">

    </ul>
</div>
<div class="paginatedLoadingIndicator" style="display: none"></div>
