<div style="text-align: center;margin-top:18px;font-size: large;" id="message">Click a Course to add them in Popular List</div>
{{#if collection.length}}
<div class="resource-row">
    <ul class="collectionViewItems row-fluid" style="list-style-type: none;text-align: center;width:100%;margin-left: 0px;">

    </ul>
</div>
<div class="paginatedLoadingIndicator" style="display: none"></div>
{{else}}
<div class="no_courses_text_display"> Loading...</div>
{{/if}}