{{#if ENV.PERMISSIONS.enable_links}}
    <div id="add_account_sliders_link">
        <a href="#" id="add_account_sliders"  class="edit_letter_grades_link">
            <i class="icon-settings"></i>
            {{#t "manage_account_sliders"}}Add Sliders{{/t}}
        </a>
    </div>
{{/if}}
{{#if collection.length }}
    <div id="account_sliders">
        <div class="slides collectionViewItems">

        </div>
    </div>
{{else}}
    <div id="account_sliders">
        <div class="slides collectionViewItems">
            <div class="slides collectionViewItems">
                <img src="images/default1.jpg" style="width:100%;height:350px">
            </div>
        </div>
    </div>
{{/if}}
