{{#if collection.length }}
<div id="add_link" style="margin-bottom:-19px;z-index:1;position:absolute;font-size: 14px;font-style: oblique;">
    <a href="#" id="add_account_sliders" style="margin-left: 1157px" class="edit_letter_grades_link">
        {{#if ENV.PERMISSIONS.user_logged_in}}
          {{#if ENV.PERMISSIONS.enable_links}}
            {{#t "add_account_sliders"}}Add Sliders{{/t}}
           {{/if}}
        {{/if}}
    </a>
</div>

<div id="demo1" style="margin-top: -14px;margin-left: -20px;width:103%;height:300px">
   <div class="slides collectionViewItems">

   </div>
</div>
{{else}}
    <div id="add_link" style="margin-bottom:-19px;z-index:1;position:absolute;font-size: 14px;font-style: oblique;">
        <a href="#" id="add_account_sliders" style="margin-left: 1157px" class="edit_letter_grades_link">
            {{#if ENV.PERMISSIONS.user_logged_in}}
                {{#if ENV.PERMISSIONS.enable_links}}
                    {{#t "add_account_sliders"}}Add Account Sliders{{/t}}
                {{/if}}
            {{/if}}
        </a>
    </div>

    <div id="demo1" style="margin-top: -14px;margin-left: -20px;width:103%;height:300px">
        <div class="slides collectionViewItems">
            <div class="slides collectionViewItems">
                <img src="images/default1.jpg" style="width:1500px;height:300px">
            </div>
         </div>
    </div>
{{/if}}
