<div class="resource-row">
    <ul class="collectionViewItems row-fluid" style="list-style-type: none;text-align: center;">

    </ul>
</div>
<div class="paginatedLoadingIndicator" style="display: none"></div>
