<fieldset>
    <table>
        <tr>
            <td>
                <label style="width: 76px;margin-left: 54px"  for="course_price"> Price</label>
            </td>
        </tr>
    </table>
</fieldset>