<div data-view="sliders" id="sliders">

</div>
{{#if ENV.enable_account_statistics}}
<div data-view="accountStatistics" style="font-size: xx-small;float:left">

</div>
{{/if}}
{{#if ENV.show_popular}}
<div data-view="popularCourses" id="popular_course_div"  class="row evenflow">

</div>
{{else}}
<div data-view="popularCourses" id="popular_course_div" style="width: 103%;margin-left: -16px" >

</div>
{{/if}}
{{#if ENV.show_knowledge_banner}}
<div data-view="knowledgePartners" id="knowledge_partners_div"  class="row knowledge-evenflow">

</div>
{{else}}
<div data-view="knowledgePartners" id="knowledge_partners_div" style="background: white"  class="row knowledge-evenflow">

</div>

{{/if}}
<div data-view="learnersReviews" class="review-evenflow">

</div>
<div data-view="footerView">

</div>