<div data-view="sliders" id="sliders">

</div>

<div data-view="accountStatistics" style="font-size: xx-small;margin: 20px 0px;width: 100%;float: left;">

</div>

{{#if ENV.show_popular}}
<div data-view="popularCourses" id="popular_course_div"  class=" evenflow">

</div>
{{else}}
<div data-view="popularCourses" id="popular_course_div" style="width: 100%;" >

</div>
{{/if}}
{{#if ENV.show_knowledge_banner}}
<div data-view="knowledgePartners" id="knowledge_partners_div"  class=" knowledge-evenflow">

</div>
{{else}}
<div data-view="knowledgePartners" id="knowledge_partners_div" style="background: white"  class="knowledge-evenflow">

</div>

{{/if}}
<div data-view="learnersReviews" class="review-evenflow">

</div>
<div data-view="footerView">

</div>