<div data-view="sliders" id="sliders">

</div>
<div data-view="accountStatistics" style="font-size: xx-small;float:left">

</div>
<div data-view="popularCourses" id="popular_course_div"  class="row evenflow">

</div>
<div data-view="knowledgePartners" id="knowledge_partners_div"  class="row knowledge-evenflow">

</div>
<div data-view="learnersReviews">

</div>
<div data-view="footerView">

</div>