<div data-view="sliders" id="sliders">

</div>
<hr/>
<div data-view="accountStatistics" style="font-size: xx-small;float:left">

</div>
<div data-view="popularCourses" class="row evenflow" style="background-image: url(/images/pattern-bg.png)" >

</div>
<div data-view="knowledgePartners">

</div>
<div data-view="learnersReviews">

</div>
<div data-view="footerView"></div>