{{#unless ENV.show_three_knowledge_partners}}
<div class="thumbnail">
<div class="caption">
<img alt="partner" src="{{knowledge_partner_log_url}}" style="height:120px;width:200px" >
    <div>
        <p>
            {{partners_info}}
        </p>
    </div>
</div>
</div>
{{/unless}}
