<div id="knowledge_partner_on_index_page" class="span3">
<div class="knowledge_partner_image">
<img alt="partner" src="{{knowledge_partner_log_url}}" style="width: 100%;height: 150px;" >
</div>
    <div class="knowledge_partner_info">
        <p>
            {{partners_info}}
        </p>
    </div>

</div>

