<div class="secondary-content" id="knowledge_partner_banner">
    <h1 class="banner"> Knowledge partners</h1>
</div>
<div id="add_link" style="margin-bottom: -18px;z-index:1;font-size: 14px;font-style: oblique;margin-left: -154px;">
    <a href="#" id="add_knowledge_partners"  class="edit_letter_grades_link">
        {{#if ENV.PERMISSIONS.user_logged_in}}
            {{#if ENV.PERMISSIONS.enable_links}}
                {{#t "manage_knowledge_partners"}}Manage Knowledge Partners{{/t}}
            {{/if}}
        {{/if}}
    </a>
</div>
<div class="resource-row">
    <ul class="collectionViewItems" style="list-style-type: none;text-align: center;">

    </ul>
</div>
{{#if ENV.knowledge_partners_count}}
  <a href="" id="more_partners" class="browseourcoursessmall" style="margin-top: -6px;position: relative;margin-left: 1171px;">See More Partners</a>
{{/if}}
<div class="paginatedLoadingIndicator" id="knowledge_partner_paginating" style="display: none"></div>