{{#if collection.length}}
<div class="secondary-content" id="knowledge_partner_banner">
    <h1 class="banner"> Knowledge partners</h1>
</div>
{{/if}}
{{#if ENV.PERMISSIONS.enable_links}}
<div id="add_link" style="">
    <a href="#" id="add_knowledge_partners"  class="edit_letter_grades_link">
        <i class="icon-settings"></i>
                {{#t "manage_knowledge_partners"}}Manage Knowledge Partners{{/t}}
    </a>
</div>
{{/if}}
<div class="resource-row row">
    <ul class="collectionViewItems row" style="list-style-type: none;text-align: center;">

    </ul>
</div>
{{#if ENV.knowledge_partners_count}}
  <a href="" id="more_partners" class="browseourcoursessmall" style="margin-top: -6px;position: relative;margin-left: 1171px;">See More Partners</a>
{{/if}}
<div class="paginatedLoadingIndicator" id="knowledge_partner_paginating" style="display: none;margin-left: 30px"></div>