<div id="knowledge_partner_on_index_page">
<div class="knowledge_partner_image">
<img alt="partner" src="{{knowledge_partner_log_url}}" style="height:120px;width:100%" >
</div>
    <div class="knowledge_partner_info">
        <p>
            {{partners_info}}
        </p>
    </div>

</div>

