<div class="secondary-content">
    <h1 class="banner"> Learner Reviews</h1>
</div>
<a href="#" id="manage_learner_review" style="margin-left:  1122px" class="edit_letter_grades_link">

</a>
<div class="resource-row">
    <ul class="collectionViewItems" style="list-style-type: none;text-align: center;">

    </ul>
</div>
{{#if show_comment}}
    <a href="" id="more_reviews" class="browseourcoursessmall" style="margin-top: -37px;position: absolute;margin-left: 1146px;">See More Reviews</a>
{{/if}}
<div class="paginatedLoadingIndicator" style="display: none"></div>