{{#if show_comment}}
<div id="learner_review_on_index_page" >
<div class="learners_review_item span3">
    <div class="thumbnail" style="min-height: 150px;">
        <p style="text-align: center;">
            "{{{truncate comments 70 }}}"
        </p>
      <div>
        {{#each user}}
        <h6 class="comment-user-name">
            -{{ name}}
        </h6>
        {{/each}}
      </div>
    </div>
</div>
</div>
{{/if}}