<a href="/libraries/{{id}}">
<div id="learner_review_on_index_page">
<div class="columns">
    <blockquote class="quote-text">{{{truncate comment 100 }}}</blockquote>

    <p class="quote-author"> <img class="quote-author-pic" src="{{user_avatar}}">
    <strong>
        {{user_name}}
    </strong> </p>
</div>
</div>
</a>

