<a href="#" id="add_popular_courses" style="margin-left: 1000px" class="edit_letter_grades_link">
    {{#t "add_popular_course"}}Manage Popular Course{{/t}}
</a>
<div class="resource-row">
<ul class="collectionViewItems " style="list-style-type: none;">

</ul>
</div>