<div class="secondary-content">
    <h1 class="banner"> Popular Courses</h1>
</div>
<a href="#" id="add_popular_courses" style="margin-left:  1122px" class="edit_letter_grades_link">
    {{#t "manage_popular_course"}}Manage Popular Course{{/t}}
</a>
<div class="resource-row">
<ul class="collectionViewItems " style="list-style-type: none;">

</ul>
</div>
<div class="paginatedLoadingIndicator" style="display: none"></div>