{{#if collection.length}}
<div class="secondary-content" id="popular_course_banner">
    <h1 class="banner"> Popular Courses</h1>
</div>
{{/if}}
{{#if ENV.PERMISSIONS.enable_links}}
<a href="#" id="add_popular_courses"  class="edit_letter_grades_link">
    <i class="icon-settings"></i>
         {{#t "manage_popular_course"}}Manage Popular Course{{/t}}
</a>
{{/if}}
{{#if collection.length}}
<div class="resource-row row" style="margin-top: 100px;">
<ul class="collectionViewItems row " style="list-style-type: none;text-align: center;">

</ul>
{{/if}}
</div>
{{#if ENV.popular_courses_count}}
  <a href="/libraries" id="more_courses" class="browseourcoursessmall" style="margin-top: -37px;position: absolute;margin-left: 1146px;">See More Courses</a>
{{/if}}
<div class="paginatedLoadingIndicator" id="popular_course_paginating" style="display: none;"></div>
