
<td nowrap="nowrap" class="accounts_sliders_item" data-id="{{id}}">
    <img src="{{slider_url}}" style="width:500px;height:150px">
</td>
<td class="links text-right" nowrap="nowrap">
    <a href="#" id="delete_sliders"
       class=""
       title="Delete Account Slider"
       data-delete-account_sliders={{id}}
            ><i class="icon-trash btn"></i></a>
</td>

