<td nowrap="nowrap" class="knowledge_partners_item" data-id="{{id}}">
    <img src="{{knowledge_partner_log_url}}" style="width:100px;height:100px">
</td>
<td>
    {{partners_info}}
</td>
<td class="links text-right" nowrap="nowrap">
    <a href="#" id="delete_knowledge_partners"
       class=""
       title="Delete Knowledge Partner"
       data-delete-knowledge-partner={{id}}
            ><i class="icon-trash btn"></i></a>
</td>
