<table id="dataTable"  class = "table table-bordered table-striped">
    <thead> <tr>
        <th>Sliders</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody class="collectionViewItems">
    </tbody>
</table>
