<table id="dataTable"  class = "table table-bordered table-striped" style="width:75%">
    <thead> <tr>
        <th style="text-align: center">Tag Name</th>
        <th style="text-align: center">Action</th>
    </tr>
    </thead>
    <tbody class="collectionViewItems">
    </tbody>
</table>
<div class="paginatedLoadingIndicator" style="display: none"></div>