<fieldset>
    <table>
        <tr>
            <td>
                <label style="width: 76px;margin-left: 54px"  for="course_name"> Tag Name</label>
            </td>
            <td>
                <input type="text" style="width: 137px;margin-left: 56px;margin-bottom: 12PX;" class="text_field" id="account_tags" value="{{name}}" name="account_tags">
            </td>
        </tr>
    </table>
</fieldset>