<div class="tag_type_select" style="text-align: center;">
<label>Select Type:</label>
<select name="config[mode]" id="select_tag_type">
    <option value="Course" selected="selected">Course Tags</option>
    <option value="discussion" >Forum Tags</option>
</select>
</div>
<div data-view="account_tags">

</div>