<div class="bootstrap-form form-horizontal" >
<div>
  <fieldset style="max-width: 700px;">
      <legend> Question</legend>
      <input  type="text" name="question" style="width:500px;">
      <legend> Answer </legend>
      <textarea name="answer" style="width: 500px; height:100px"></textarea>
  </fieldset>
</div>
</div>