<div class="wistiaVideo bootstrap-form form-horizontal" >
  <fieldset style="max-width: 597px;">
    <legend>{{#t "image_source"}}Videos{{/t}}</legend>
    <div  align="center" class="ui-tabs-minimal imageSourceTabs">
    <select id="combo_field">
       <option>--Select Project--</option>
      </select>
    </div>
  </fieldset>
</div>
<ul class="findWistiaMediaView" style="display: none;list-style: none;margin: 20px 0 10px 25px;"></ul>
