<em data-tooltip title="{{name}}">{{name}}</em>
<br/>
<button id="btnclass" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right ui-get-id{{id}}" data-select_module_id="{{id}}">SelectAll</button>

