<div id="referral_tabs" class="ui-tabs-minimal manage-permissions">
  <ul>
    <li id="invite_friends"><a href="#invite">Invite friends</a></li>
    <li id="my_references"><a href="#references">My References</a></li>
    <li id="my_rewards"><a href="#rewards">My Rewards</a></li>
  </ul>

  <div id="invite"></div>
  <div id="references">
      <table id="references_table" class="table table-bordered table-condensed table-hover table-striped">
          <thead>
          <th>Provider</th>
          <th>Invitation sent on</th>
          <th >Status</th>
          </thead>
      </table>
  </div>
  <div id="rewards"></div>
</div>
