<div id="referral_tabs" class="ui-tabs-minimal manage-permissions">
  <ul>
    <li id="invite_friends"><a href="#invite">Invite friends</a></li>
    <li id="my_references"><a href="#references">My References</a></li>
    <li id="bonus_space"><a href="#bonus">My Rewards</a></li>
  </ul>

  <div id="invite"></div>
  <div id="references"></div>
  <div id="bonus"></div>
</div>
