<td class="tags_item" style="word-break: break-all;width: 80%;text-align: center" data-id="{{id}}">{{tag_name}}</td>
<td class="links text-right" nowrap="nowrap" style="text-align: center">
    <a href="#"
       class="edit_tags_link"
       title="Edit Tool"
       data-edit-tags={{id}}
            ><i class="icon-edit btn"></i></a>
    <a href="#"
       class="delete_tags_link"
       title="Delete Tags"
       data-delete-tags={{id}}
            ><i class="icon-trash btn"></i></a>
</td>
