<a href="<%= course_context_module_path(@context,object) %>">
<div class="course_class">
  <div class="course_class_header" >
  <div class="course_class_header_index" >
    Class &nbsp;<%= index %>
  </div>
  </div>
  <div class="class_name" >
    <%= object.name %>
  </div>

</div>
</a>