<fieldset>
    <table>
        <tr><td>
            <div class="controls">
                <input type="hidden" id="parent_id" value="{{parent_id}}" name="parent_id">
            </div>
        </td></tr>
        <tr><td> <div class="control-group">
            <label class="control-label" for="name">Topic Name</label>
            <div class="controls">
                <input type="text" id="name" value="{{name}}" name="name">
            </div>
        </td></tr>
        <tr><td>
            <div class="control-group" style="height: 190px;">
                <label class="control-label" for="color">Color</label>
                <div class="controls">
                    <input type="text" id="hue-demo" class="demo" data-control="hue" value="{{color}}" name="color">
                </div>
            </div>
        </td>
        </tr>
    </table>
</fieldset>