<h2 style="margin: inherit" class="page-header">{{#t "app_headder"}}Topics{{/t}}

    <button class="btn btn-primary add_tool_link lm pull-right">
        {{#t "add_new_tool"}}Add Topic{{/t}}
    </button>
</h2>
<div data-view="topics" id="topic_add"></div>
