<div id="course_comments">
    <h3 class="pop_up_h3">Reviews</h3>
<div class="fancybox-inner">
<ul class="collectionViewItems" style="list-style-type: none">

</ul>
</div>
<div class="paginatedLoadingIndicator" style="display: none"></div>
</div>