<div class="rating-line">
</div>
<div class="user_details">
    <div class="left-col">
        <img src="{{user_image}}">
    </div>
    <div class="right-col">
        by
        <a href="#" class="user_name">{{commented_user}}</a>
    </div>
</div>
<div class="article">
    {{comments_title}}
    {{comments}}
</div>
<div class="rating-line">
</div>